line {
  display: block;
  stroke: black;
}

circle {
  stroke-width: 0;
}

.container{
  display: flex;
}

h1{
 width: 100%; height: auto;
}

.chart{
  /* display: block; */
  /* margin: auto; */
  margin-left: 200px;
}

.legend{
  /* flex-grow: 1; */
  /* display: block; */
  margin-right: 380px;
  /* margin: auto; */
}

.title{
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}
